.box{
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 1px;
    border: solid 3px black;
}

.a0{
    background-color: white;
}

.a1{
    background-color: rgb(8, 233, 8);
}
.a2{
    background-color: red;
}
.a3{
    background-color: rgb(255, 153, 0);
}

.td{
    padding-right: 15px;
}
.th{
    padding-right: 15px;
}