
.contenedor {
	display: flex;
	justify-content: center;
	padding: 25px 0px 25px 0px;
}

.relleno {
	width: 500px;
	background: #B2FFFF;
	padding: 25px 15px 25px 15px;	
}

h1 {
	text-align: center;
}
.tabla {
	position: relative;
    border-collapse: collapse;
    margin: 25px 0;
    left: 300px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabla thead tr {
    background-color: #922626;
    color: #ffffff;
    text-align: left;
}

.tabla th,
.tabla td {
    padding:  6px;
}
.tabla tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla tbody tr:last-of-type {
    border-bottom: 2px solid #922626;
}

.btn {
	clear: left;
	width: 96%;
	padding: 5px 0px;
	margin: 5px 0px;
	background: purple;
	color: white;
	border: 0px;
	border-radius: 5px;
}
#tomar{
	position: relative;
	left: 300px;
	height: 50px;
	color: white;
	background: #9A9696;
	border-color: #9A9696;
	border-radius: 5px;
}
#volver{
position: relative;
	left: 300px;
	top: 50px;
	height: 50px;
	color: white;
	background: #9A9696;
	border-color: #9A9696;
	border-radius: 5px;
}
.guardar{
	position: relative;
	left: 400px;
	height: 50px;
	color: white;
	background: #9A9696;
	border-color: #9A9696;
	border-radius: 5px;
}